@mixin makemearealboy {
  // used to set up :before :after pseudo elements
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

$paperedge: #eee; // TODO: the paper edges of the book - a subtle #fefefe -> #f1f1f1 CSS gradient might be nicer here

$lighting-effect: linear-gradient(100deg,
    rgba(255, 255, 255, .7) 0%,
    rgba(0, 0, 0, 00) 29%,
    rgba(0, 0, 0, 0.3) 79%,
    rgba(255, 255, 255, 0) 100%); // mostly transparent white and black reflections




/*
 $aspect-ratio is 7:9 (.76) ratio for all SP books and shouldn't change
 unless the book format changes. */

$aspect-ratio:     0.76;
$spine-ratio:      0.06;
$book-perspective: 3.5;

/* -- Preset Book Display Sizes -- */


/* WIDTHS  */

$height-small: 150px;
$height-mid:   300px;
$height-large: 480px;

/* HEIGHTS  */

$width-small: $height-small * $aspect-ratio;
$width-mid:   $height-mid   * $aspect-ratio;
$width-large: $height-large * $aspect-ratio;

/* SPINES  */

$spine-small: $height-small * $spine-ratio;
$spine-mid:   $height-mid   * $spine-ratio;
$spine-large: $height-large * $spine-ratio;

/* Calculate other book dimensions */

.book.size-small {
  height: $height-small;
  width: $width-small;
  perspective: $height-small * $book-perspective;
  .backcover {
    transform: rotateY(180deg) translateZ($spine-small);
    &:before,
    &:after {
      width: $spine-small;
    }
  }
}

.book.size-mid {
  height: $height-mid;
  width: $width-mid;
  perspective: $height-mid * $book-perspective;
  .backcover {
    transform: rotateY(180deg) translateZ($spine-mid);
    &:before,
    &:after {
      width: $spine-mid;
    }
  }
}

.book.size-large {
  height: $height-large;
  width: $width-large;
  perspective: $height-large * $book-perspective;
  .backcover {
    transform: rotateY(180deg) translateZ($spine-large);
    &:before,
    &:after {
      width: $spine-large;
    }
  }
}

.book {
  // book container
  margin: 2em;
  position: relative;
}

.dvd{}

figure.view3d {
  // book container
  perspective-origin: 50% 50%;
  float: left;
  //outline: 1px #eee dashed;
}

.cover {
  /* This is a mask to crop the IMG to only cover */
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, .15), 3px 3px 4px rgba(0, 0, 0, .3), 6px 6px 4px rgba(0, 0, 0, .1); // for flat render only
  &:after {
    /* the reflection effect across the IMG cover */
    @include makemearealboy;
    height: 100%;
    width: 100%;
    background: url(../img/lighting.png);
    top: 0;
    left: 0;
    position: relative;
    z-index: 12;
  }
}

.view3d .cover {
  box-shadow: none;
  /* remove anchoring shadow in 3D view */
}

.cover img {
  float: right;
  height: 100%;
}

.view3d .bookgroup {
  // an added wrapper via JS
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  transform: rotateY(0deg) rotateX(0deg); //default view
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1.5s ease-in;
  &:before,
  &:after {
    // top edge
    @include makemearealboy;
    transform-style: preserve-3d;
    background: $paperedge;
    top: 0%;
    transform-origin: 0% 0%;
    width: 100%;
    height: (100%*$spine-ratio);
    transform: rotateY(0deg) rotateX(-90deg) translateX(0px); //default view
  }
  &:after {
    // base edge (inc 'grounding' shadow)
    top: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .75), 2px 2px 15px rgba(0, 0, 0, .5);
  }
}

.backcover {
  // CREATED JS : Div containing current cover of BG
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  background: red, red;
  background-size: auto 100%, auto 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
  right: 0px;
  &:before,
  &:after {
    // :before is the right page edge
    @include makemearealboy;
    background: $paperedge;
    height: 100%;
    transform: rotateY(90deg);
    transform-origin: (0% 50%);
    z-index: 9;
  }
  &:after {
    transform: rotateY(90deg) translateZ(0px);
    left: 100%;
    transform-origin: (0% 50%);
    background: inherit; // picks up BG image from parent (yay!)
    background-position: center center
  }
}


/* =======  Posing classes ========== */

// oclock notation: Viewer stands at 12 and model faces hour markers
//     +------------+
//     |  Viewer    |
//     +------------+
//           12
//      11        1
//  10       ^        2
//           |
// 9         |         3
//       +-model-+
//  8        +        4
//
//      7         5
//           6
//
//+----------------------+
//|  Class = '.clock-12' |
//+----------------------+

.oclock-12 .bookgroup {
  transform: rotateY(0deg) rotateX(0deg); //default view
}
.oclock-1 .bookgroup {
  transform: rotateY(-30deg) rotateX(0deg); //default view
}
.oclock-2 .bookgroup {
  transform: rotateY(-60deg) rotateX(0deg); //default view
}
.oclock-3 .bookgroup {
  transform: rotateY(-90deg) rotateX(0deg); //default view
}
.oclock-4 .bookgroup {
  transform: rotateY(-120deg) rotateX(0deg); //default view
}
.oclock-5 .bookgroup {
  transform: rotateY(-150deg) rotateX(0deg); //default view
}
.oclock-6 .bookgroup {
  transform: rotateY(180deg) rotateX(0deg); //reverse side
}
.oclock-7 .bookgroup {
  transform: rotateY(-210deg) rotateX(0deg); //default view
}
.oclock-8 .bookgroup {
  transform: rotateY(-240deg) rotateX(0deg); //default view
}
.oclock-9 .bookgroup {
  transform: rotateY(-270deg) rotateX(0deg); //default view
}
.oclock-10 .bookgroup {
  transform: rotateY(-300deg) rotateX(0deg); //default view
}
.oclock-11 .bookgroup {
  transform: rotateY(-330deg) rotateX(0deg); //default view
}







.hover:hover .bookgroup {
  transform: rotateY(30deg) scale(1.15);
  //transition: transform 1.25s ease-in;
  //animation: spin 6s infinite linear 1.2s;
}
.hover:hover .backcover{
  animation: reflection 6s infinite linear 1.2s;

}
@keyframes spin {
  0% {
    transform: rotateY(30deg) scale(1.15);
  }
  100% {
    transform: rotateY(390deg) scale(1.15);
  }
}
@keyframes reflection {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}




