/*

+++++++    All styles used in decoration    ++++++
++++++  Not necessary in the 3d rendering  +++++++

*/

body {
  font-family: sans-serif;
}

/* ++++++++  Table decoration ++++++++++*/

table {
  font-size: 12px;
  td {
    padding: 1em
  }
}
